/* CSS Document */

html{
	scroll-behavior:smooth;
}
body{
	margin: 0px;
}

.loop-wrap {
    position: relative;
    height: 500px;
	margin:auto;
    overflow: hidden;
	float: left;
	margin-left: 22%;
	width: 80%;
}
.loop-wrap img{
    width: 20%;
    height: 100%;
}
.start{
    position: absolute;
    left: 0; top: 0;
    width: 500%;
    height: 100%;
    font-size: 0;
    transform: translate(0,0); /* 初始位置位移 */
    animation: loop 10s linear infinite;
}

@keyframes loop {
    0% {transform: translate(0,0);}
    15% {transform: translate(0,0);} /* 停留1500ms */

    20% {transform: translate(-20%,0);} /* 切换500ms 位移-20% */
    35% {transform: translate(-20%,0);}

    40% {transform: translate(-40%,0);}
    55% {transform: translate(-40%,0);}

    60% {transform: translate(-60%,0);}
    75% {transform: translate(-60%,0);}

    80% {transform: translate(-80%,0);}
    95% {transform: translate(-80%,0);}

    100% {transform: translate(0,0);} /* 复位到第一张图片 */
}
#nav{
	margin-right: 78%;
	width: 22%;
	float:left;
	position: fixed;
}

#content{
	margin-left:25%;
	margin-right: 8%;
	float:left;
	margin-bottom: 10%;
}

#tail{
	margin-left: 25%;
	float:left;
	width: 75%;
	height: 10%;
}
#about{
	padding: 0;
	float:left;
	margin-left: 22%;
	margin-right: 5%;
	width: 80%;
}


video{
	width: 70%;
	heights:70%;
	border-radius: 8px;
}

img {
    border-radius: 8px;
}
.start_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
	border-radius: 0px;
}

.title{
	font-family:"Titillium Web";
	font-weight: 100;
	color: aliceblue;
	font-size: 50px;
}

p{
 	text-align:justify;
	text-justify:inter-ideograph;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-weight:400;
}

.catalog::-webkit-scrollbar{
	margin-top: 20%;
	width: 5px;
	background-color:#F5F5F5;
}
.catalog::-webkit-scrollbar-button{
	background-color:#171717;
}
.catalog::-webkit-scrollbar-thumb{
	background-color: #555;
	height: 50px;
}
.catalog::-webkit-scrollbar-track-piece{
	background-color:#171717;
}
.catalog {
	background-color: #171717;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 22%;
	text-align: center;
	height: 100%;
	position: fixed;
	font-family:"Titillium Web";
	font-weight: bold;
	overflow: auto;
}

.catalog li{
	height: 100px;
}
 
.catalog li a {
    display: block;
    color: #F0F0F0;
	padding: 40px 16px;
    text-decoration: none;
	text-align: center;
}
 

/* 鼠标移动到选项上修改背景颜色 */
.catalog li a:hover {
    background-color: #555;
    color: white;
}

/* 鼠标点击选项后的颜色*/
.catalog li a:active {
    background-color: #556;
    color: white;
}

.help:link{
	font-size: 10;
	font-weight: normal;
}

.doujiao{
	width: 50%;
	height: 50%;
}

.zhujiaofen{
	width: 40%;
	heights:40%;
}
.jd0{
	width: 70%;
	heights:70%;
}
.jd1{
	width: 60%;
	heights:60%;
}
.about{
    width: 100%;
    height: 100%;
    object-fit: cover;
	border-radius: 0px;
}
